*{
    padding: 0px;
    margin: 0px;
    animation: normal;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1E293B;
}
.ForceDisplayNone{
    display: none !important;
}
#block1, #block2, #block3{
    width: 600px;
    height: auto;
    margin-top: 15%;
    row-gap: 10px;
   /* position: relative;
    top: 100px;
    left: 80px;*/
    border-radius: 12px;
    background: #334155;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
#categories, #difficulty, #answers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.btnStyle, .btnStyleAnswers{
    padding: 6px 10px;
    border-radius: 8px;
    background-color: #1E293B;
}
.btnStyleAnswers{
    padding: 16px 10px;
    width: 260px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#answers{
    width: 100%;
}
span{
    width: 100%;
}
#start{
    margin: 10px 0 30px 0;
}
#next, .reset{
    margin: 5px 0 15px;
}
#start, #next, .reset{
    padding: 6px 10px;
}
p{
    margin: 50px 0px 0px 0px;
}
#Error{
    display: none;
}