*{
    padding: 0px;
    margin: 0px;
    animation: normal;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #1E293B;
}
#Error{
    display: none;
    font-size: 1.4em;
    color: white;
}
.block{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
#block1, #block2, #block3{
    width: 800px;
    height: auto;
    margin: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #334155;
    border-radius: 10px;
}
#categories, #difficulty{
    width: auto;
    margin: 1em;
}
#categories p, #difficulty p, #question, #number, #amount, #end, #result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.2em;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
}
#limit{
    margin: 0 20px;
    width: 100px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    border-color: #fff;
    background-color: #334155;
    border-width: 2px;
}
#number{
    padding-bottom: 0;
}
#question{
    margin: 1.6em 1.2em;
}
#queBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 100px 0;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 40px;
    position: relative;
}
.trigger{
    margin: 10px 0;
}
.button label,
.button input,
button{
    position:relative;
    font-size: 1.2em;
    background-color: #465a77;
    border-radius: 5px;
    padding: 3px 12px;
    color: #fff;
    margin: auto;
}
.button input[type="radio"] {
    opacity: 0.011;
} 
.button input[type="radio"]:checked + label {
    background: #20b8be;
    border-radius: 4px;  
}
/*    .button input[id="correct"]:checked + label {
        background: #32be20;
        border-radius: 4px;  
    }
    .button input[id="wrong"]:checked + label {
        background: #b20c0c;
        border-radius: 4px;  
    }*/
.button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
}